{% extends "page.html" %}

{% load custom i18n %}

{% block title %} Overtime List {% endblock %}

{% block pagecontent %}
<div class="pad-list">
	<h3>{% trans "Overtime List" %}</h3>
	<form action="{% url 'overtime:list' 1 %}" method="get">
		{{form}}
		<input type="submit" value="{% trans 'Filter' %}">
	</form>
	<div class="table-responsive">
		<table class="table table-striped">
			<tr>
				<th>{{overtime|verbose_name:'emp'|title}}</th>
				<th>{{overtime|verbose_name:'project'|title}}</th>
				<th>{{overtime|verbose_name:'date'|title}}</th>
				<th>{{overtime|verbose_name:'time'|title}}</th>
				<th>{{overtime|verbose_name:'request_hours'|title}}</th>
				<th>{{overtime|verbose_name:'actual_hours'|title}}</th>
				<th>{{overtime|verbose_name:'reason'|title}}</th>
			</tr>
			{% for ot in page_obj %}
			<tr class="notice-me">
				{% if request.LANGUAGE_CODE == 'zh-hans' %}
				<td>{{ot.emp.name}}</td>
				{% else %}
				<td>{{ot.emp.english_name}}</td>
				{% endif %}
				<td>{{ot.project}}</td>
				<td>{{ot.date}}</td>
				<td>{{ot.time}}</td>
				<td>{{ot.request_hours|floatformat}}</td>
				{% if ot.actual_hours %}
				<td>{{ot.actual_hours|floatformat}}</td>
				{% else %}
				<td><form method="POST" action="{% url 'overtime:actualhours' page_obj.number %}">
					{% csrf_token %}
					{{AH_form.actual_hours}}
					<input style="display: none;" type="number" name="overtime_id" id="id_overtime_id" value="{{ot.id}}" required>
					<input type="submit" value="{% trans 'Update' %}">
				</form></td>
				{% endif %}
				<td>{{ot.reason}}</td>
			</tr>
			{% empty %}
			<tr><td>{% trans "No overtime records found" %}</td><td></td><td></td><td></td><td></td><td></td></tr>
			{% endfor %}
		</table>
	</div>
	<div class="row">
		<div class="col-xs-4 col-md-5"><hr style="border:none;color:#333;background-color:#333" /></div>
		<div class="col-xs-4 col-md-2" style="text-align: center;">
			<span style="font-size: 1.5em;">
				{% if page_obj.has_previous %}
					<a href="{% url 'overtime:list' page_obj.previous_page_number %}"><i class="glyphicon glyphicon-chevron-left" style="color: #333"></i></a>
				{% else %}
					<!-- placeholder to ensure it remains centered -->
					<i class="glyphicon glyphicon-chevron-left" style="visibility: hidden;"></i>
				{% endif%}
				<span>{{page_obj.number}}</span>
				{% if page_obj.has_next %}
					<a href="{% url 'overtime:list' page_obj.next_page_number %}"><i class="glyphicon glyphicon-chevron-right" style="color: #333"></i></a>
				{% else %}
					<!-- placeholder to ensure it remains centered -->
					<i class="glyphicon glyphicon-chevron-right" style="visibility: hidden"></i>
				{% endif%}
			</span>
		</div>
		<div class="col-xs-4 col-md-5"><hr style="border:none;color:#333;background-color:#333" /></div>
	</div>
</div>
{% endblock pagecontent %}