{% extends "page.html" %}

{% block title %}  {% endblock %}

{% block pagecontent %}
<div style="padding: 0 10vw 0 10vw">
	<h3>Project List</h3>
	<div class="table-responsive">
		<table class="table table-striped">
			<tr>  
				<th>Project Name</th>
				<th>Customer</th>
			</tr>
			{% for p in object_list %}
				<tr> 
					<td> {{p.name}} </td> {# <a href="{% url 'overtime:editproject' p.id %}"> {{p.name}} </a> #}
					<td> {{p.customer}} </td>
				</tr>
			{% endfor %}
		</table>
		{% if not object_list %}
			<p> No projects found</p>
		{% endif %}
	</div>
</div>

{% endblock %}