{% extends "page.html" %}

{% load custom i18n %}

{% block title %} {{project.name}} {% endblock %}


{% block pagecontent %} 

<div class="container">
	<div class="row">
		<h1> {{project.name}} </h1>
		<hr/>
		<div class="col-md-6">
			<h3> {{project.customer}} </h3>
			<p>{{project.work_type|human_readable:work_opts}}</p>
			<!-- wow this stuff isn't great -->
			{% if project.eastek_pn %}
				<p><b>{{project|verbose_name:'eastek_pn'|capfirst}}: </b>{{project.eastek_pn}}</p>
			{% else %}
				<form method="POST" action="{% url 'projects:partnumupdate' project.id 'eastek' %}">
				{% csrf_token %}
				<b>{{project|verbose_name:'eastek_pn'|capfirst}}:</b>
				{{epn_form.partnum}}
				<input type="submit" value="{% trans 'Submit' %}">
				</form>
			{% endif %}

			{% if project.cust_pn %}
				<p><b>{{project|verbose_name:'cust_pn'|capfirst}}: </b>{{project.cust_pn}}</p>
			{% else %}
				<form method="POST" action="{% url 'projects:partnumupdate' project.id 'customer' %}">
				{% csrf_token %}
				<b>{{project|verbose_name:'cust_pn'|capfirst}}:</b>
				{{cpn_form.partnum}}
				<input type="submit" value="{% trans 'Submit' %}">
				</form>
			{% endif %}
			<!-- especially bad part ends here -->
			<form method="POST" action="{% url 'projects:statusupdate' project.id %}">
			{% csrf_token %}
			{{projstatus}}
			<input type="Submit" value="{% trans 'Update' %}">
			</form>

			<p><b>{% trans "Engineers" %}:</b>{{project.engineer.all|join:', '}}</p>

			{% comment %}
			<table>
				<tr>
					<th>{% trans "Engineers" %}:</th>
					<td>{{project.engineer.all|join:', '}}</td>
				</tr>
			</table>
			{% endcomment %}

			{% if request.user.get_employee and not request.user.get_employee in project.engineer.all %}
			<form method="POST" action="{% url 'projects:joinproject' project.id %}">
			{% csrf_token %}
			<input type="submit" value="{% trans 'Join Project' %}">
			</form>
			{% endif %}
		</div>
		<div class="col-md-6">
			<h3> {% trans "Milestones" %} </h3>
			{% if milestones %}
			<table class="table">
				<tr>
					{# it's okay to use the first milestone in the list because this won't execute without one #}
					<th>{{milestones.0|verbose_name:'deadline'|title}}</th>
					<th>{{milestones.0|verbose_name:'description'|title}}</th>
					<th>{% trans "Complete" %}</th>
				</tr>
					{% for ms in milestones %}
					<tr>
						<td>{{ms.deadline}}</td>
						<td>{{ms.description}}</td>
						{% if ms.is_complete or not perms.projects.change_checklist %}
						<td>
							{% firstof ms.completion_date 'Yes' %}
							<a href="{% url 'projects:downloadchecklist' project.id forloop.counter %}"><span class="glyphicon glyphicon-save" style="font-size: 1.2em" aria-hidden="true"></span></a>
						</td>
						{% else %}
						{% ifchanged ms.is_complete %}
						<td><a href="{% url 'projects:checklist' project.id forloop.counter %}" class="btn btn-default">{% trans "Gate Checklist" %}</a></td>
						{% else %}
						<td><a href="#" class="btn btn-default disabled">{% trans "Gate Checklist" %}</a></td>
						{% endifchanged %}
						{% endif %}
					</tr>
					{% endfor %}
			</table>
			{% else %}
			<hr/>
			<p> {% trans "No milestones set" %}</p>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<h3> {% trans "Status" %} </h3>
		{% if status %}
		<table class="table">
			<tr>
				<th>{{status|verbose_name:'mod_date'|title}}</th>
				<th>{{status|verbose_name:'stage'|title}}</th>
				<th>{{status|verbose_name:'action_required'|title}}</th>
				<th>{{status|verbose_name:'estimated_hours'|title}}</th>
			</tr>
			<tr>
				<td>{{status.mod_date}}</td>
				<td>{{status.stage|human_readable:stage_opts}}</td>
				<td>{{status.action_required}}</td>
				<td>{{status.estimated_hours}}</td>
			</tr>
		</table>
		{% else %}
		<hr/>
		<p>{% trans "No updates recorded" %}</p>
		{% endif %}
		<a href="{% url 'projects:addupdate' project.id %}" class="btn btn-default">{% trans "Update Status" %}</a>
		<a href="{% url 'projects:updates' project.id %}" class="btn btn-default">{% trans "View Previous" %}</a>
		</div>
	</div>
</div>


{% endblock pagecontent %}