{% extends "page.html" %}

{% load custom i18n %}

{% block title %} Status List {% endblock %}

{% block pagecontent %}

<div class="pad-list">
	<h3> {{project.name}} {% trans "Status List" %}</h3>
	<div class="table-responsive">
		<table class="table table-striped">
			<tr>
				<th>{{updates.model|verbose_name:'stage'|title}}</th>
				<th>{{updates.model|verbose_name:'mod_date'|title}}</th>
				<th>{{updates.model|verbose_name:'action_required'|title}}</th>
				<th>{{updates.model|verbose_name:'estimated_hours'|title}}</th>
			</tr>
			{% for u in updates %}
			<tr>
				<td> {{u.stage|human_readable:stage_opts}} </td>
				<td> {{u.mod_date}} </td>
				<td> {{u.action_required}} </td>
				<td> {{u.estimated_hours}} </td>
			</tr>
			{% endfor %}
		</table>
		{% if not updates %}
			<p>{% trans "No updates recorded" %}</p>
		{% endif %}
	</div>
</div>

{% endblock pagecontent %}